img {
  width: 300px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.App {
  padding: 25px;
}

h1 {
  display: flex;
  justify-content: center;
  align-content: center;
}

h2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

p{
  text-align: center;
}